<section>
  <h1>Dashboard</h1>
  <section class="item">
    <label for="dataEventNotify">Data</label>
    <input id="dataEventNotify" value="" placeholder="Send data by custom event">
    <button id="btnEventNotify">Show notification by custom event</button>
  </section>

  <section class="item">
      <label for="dataPublishNotify">Data</label>
      <input id="dataPublishNotify" value="" placeholder="Send data by publish/subscribe">
      <button id="btnPublishNotify">Show notification by publish/subscribe</button>   
  </section>
  
  <section class="item">
    <label>Proxy data</label>
    <input id="proxyField" value="" placeholder="Update a proxied object property">
    <label id="proxyValue"></label>
  </section>

</section>