app-login {

  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #F2F2F2;

  header {
    padding: 10px 5px;
    font-size: 40px;
    font-weight: bold; 
  }
  
  .app-logo {
    width: 150px;
    height: 150px;
    padding-top: 80px;
    fill: currentColor;
  }
  
  .username,
  .password {
    display: block;
    width: 300px;
    margin: 20px auto;
  }

}
